{% extends 'index.html' %}
{% block content %}
{% if messages %}
		{% for message in messages %}
			<div class="message-box" id="message-box">
				<h3>Banking System:says</h3>
				<p>{{message}}</p><span onclick="hidemessage()">OK</span></div>
		{% endfor %}
	{% endif %}
<div class="page-title">
	<p>Debit Card</p>
	<h4>Home/<span>Debit Card</span></h4>
</div>
<div class="account-form" id="debitcreation">
	<form method="post" action="/debitcard/" enctype="multipart/form-data" autocomplete="off">
		{% csrf_token %}
		<div class="form-group">
			<label>Account Number</label>
			<input type="text" name="accountnumber" placeholder="Enter Account Number" required>
		</div>
		<div class="form-group">
			<label>Date Of Birth</label>
			<input type="date" name="dateofbirth" placeholder="Enter Date Of Birth" required>
		</div>
		<div class="form-group">
			<label>Pan Card Number</label>
			<input type="text" name="pancardnumber" placeholder="Enter Pan Card Number" required>
		</div>
		<div class="form-group">
			<label>Mobile</label>
			<input type="number" name="mobile" placeholder="Enter Mobile No" required>
		</div>
		<button>submit</button>
	</form>
</div>
{% endblock %}