{% extends 'index.html' %}
{% block content %}
	{% if messages %}
		{% for message in messages %}
			<div class="message-box" id="message-box">
				<h3>Banking System:says</h3>
				<p>{{message}}</p><span onclick="hidemessage()">OK</span></div>
		{% endfor %}
	{% endif %}
<div class="page-title">
	<p>Transfer</p>
	<h4>Home/<span>Transfer</span></h4>
</div>
<div class="account-form" id="transfer-page">
	<form method="post" action="" enctype="multipart/form-data" autocomplete="off">
		{% csrf_token %}
		<div class="form-group">
			<label>From Account Number</label>
			<input type="text" name="fromnumber" placeholder="Enter From Account Number" required>
		</div>
		<div class="form-group">
			<label>To Account Number</label>
			<input type="text" name="tonumber" placeholder="Enter To Account Number" required>
		</div>
		<div class="form-group">
			<label>Transfer Amount</label>
			<input type="text" name="amount" placeholder="Enter Transfer Amount" required>
		</div>
		<button style="margin-left:-820px;">Tranfer</button>
	</form>
</div>
{% endblock %}