@import url('https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&family=Playfair+Display&family=Poppins:wght@300&family=Roboto+Condensed:wght@300&family=Roboto:wght@300&display=swap');
*{
	margin:0px;
	padding: 0px;
	text-decoration: none;
}
header{
	display: flex;
	flex-direction:row;
	background-color: #4e6e81;
	justify-content: space-between;
	position: fixed;
	left: 0%;
	right: 0%;
	z-index: 100;
	padding:10px;
}
header .logo{
	display: flex;
	flex-direction: row;
	color: white;
	align-items: center;
	text-align: center;
}
header .logo i{
	font-size: 30px;
	margin:0px 15px;
}
header .logo h2{
	color:orange;
}
header .logo h2 span{
	color:white;
}
header .details{
	display: flex;
	flex-direction: row;
	color: white;
	text-align: center;
}
header .details i{
	font-size:28px;
	margin:0px 10px;
	cursor: pointer;
}
header .details h4{
	font-size:18px;
	margin-top: 5px;
}
header .details h4 i{
	margin:0px;
	font-size: 15px;
	margin-left:3px;
}
header .details p{
	text-align: center;
	font-size: 18px;
	margin-right: 50px;
	margin-top:5px;
}
.user-details{
	float:right;
	background-color:rgba(250,100,50,.5);
	width:200px;
	height: 100px;
	box-shadow: 0px 0px 2px 2px rgba(0, 0, 0,.4);
	margin-top: 50px;
	font-size: 18px;
	padding:10px;
	z-index:500;
	display:none;
}
.navbar{
	width:230px;
	height: 109vh;
	background-color: white;
	box-shadow:0px 0px 2px 2px rgba(0, 0, 0,.2);
	position: fixed;
	padding:0px 10px;
	padding-top: 90px;
}
.navbar ul{
	margin-left: 10px;
	list-style-type: none;
	width: 100%;
}
.navbar ul li{
	font-size:18px;
	color: darkblue;
	font-weight:500;
	margin:5px 0px;
}
.navbar ul li a{
	color: darkblue;
}
.navbar ul li .sub-list{
	position:relative;
	margin-left: 40px;
	margin-top: 5px;
	display: none;
}
.navbar ul li span,.navbar ul li i{
	font-size:20px;
	font-weight: bold;
	color:black;
	margin-top: 10px;
	margin-right:3px;
	color:darkblue;
}
.container{
	width:75.5%;
	margin-left:230px;
	background-color:#fff8f2;
	max-height:fit-content;
	min-height:109vh;
	padding:70px 50px;
}
.page-title{
	height:40px;
	display: flex;
	flex-direction: row;
	border-bottom: 1px solid rgba(0, 0, 0, .2);
	justify-content: space-between;
}
.page-title p{
	font-size: 22px;
	font-family:Roboto;
	margin:10px 20px;
}
.page-title h4 span{
	color:red;
}
.balance-box{
	margin:15px;
	width:80%;
	height: 40px;
	background-color: white;
	padding:20px;
}
.balance-box input{
	width:90%;
	height:35px;
	padding:10px;
	outline: none;
	border:1px solid rgba(0, 0, 0, .1);
	font-size: 16px;
	color:rgba(0, 0, 0, .4);
}
::placeholder{
	font-size: 16px;
	color: rgba(0, 0, 0, .4);
}
.balance-box button{
	width:45px;
	height: 35px;
	font-size: 18px;
	outline: none;
	border:1px solid rgba(0, 0, 0,.2);
}
.balance-table{
	margin:10px;
	width:90%;
	background-color: white;
	padding:10px;
	height: 170px;
	border:1px solid rgba(0, 0, 0, .1);
}
.balance-table p{
	font-size: 20px;
	font-family:Roboto;
	text-align: center;
	margin:5px 0px;
}
.balance-table table{
	width:100%;
}
table thead tr{
	background-color:darkcyan;
}
table th{
	text-align: center;
	font-size:19px;
	color:white;
	padding:10px;
	border-bottom:1px solid rgba(0, 0, 0,.2);
}
table td{
	text-align: center;
	padding:15px;
	font-size:20px;
	color: rgba(0, 0, 0,.9);
	border-bottom:1px solid rgba(0, 0, 0,.2);
}
.account-form{
	width:100%;
	height: fit-content;
	background-color:white;
	padding:15px;
}
.account-form form{
	display: grid;
	grid-template-columns: auto auto auto auto;
	grid-gap:5px;
}
.account-form form .form-group{
	display: flex;
	flex-direction: column;
	padding:5px;
}

.account-form form .form-group label{
	font-size: 18px;
	margin-bottom:5px;
	color: rgba(0, 0, 0, .9);
}
.account-form form .form-group input{
	width:90%;
	height: 25px;
	padding:10px;
	font-size:17px;
	color:rgba(0, 0, 0,.8);
	border: 1px solid rgba(0, 0, 0, .3);
	outline: none;
}
.account-form form .form-group select{
	height:45px;
	width:96.5%;
	font-size:17px;
	color:rgba(0, 0, 0,.8);
	border: 1px solid rgba(0, 0, 0, .3);
	outline: none;
}
::placeholder{
	font-size: 16px;
	color: rgba(0, 0, 0, .4);
}
.account-form form button{
	margin-top: 110px;
	margin-left: -250px;
	margin-bottom: 15px;
	position:relative;
	font-size: 18px;
	padding:10px;
	float: left;
	cursor: pointer;
	outline: none;
	border: 1px solid rgba(0, 0, 0, .3);
	background-color: #4e6e81;
	color: white;
	width: 250px;
}
#accountcreation form button{
	margin-left:10px;
	margin-top:20px;
}
#debitcreation{
	width:90%;
}
#debitcreation form{
	display:grid;
	grid-template-columns: auto auto;
	gap:10px;
}
#debitcreation form button{
	margin:0px;
}
#loancreation{
	width:90%;
	margin-left:20px;
}
#loancreation form{
	display: grid;
	grid-template-columns: auto auto;
	gap:10px;
	margin-left: 50px;
	width: 80%;
}
#loancreation form .form-group select{
	width:95%;
}
#loancreation form button{
	margin: 0px;
}
.message-box{
	width:450px;
	min-height:100px;
	max-height: auto;
	margin-top:-80px;
	padding: 10px;
	margin-left:150px;
	position: fixed;
	z-index: 100000;
	box-shadow: 0px 0px 2px 2px rgba(0,0,0, .4);
	background-color:white;
}
.message-box h3{
	margin-top:10px;
}
.message-box p{
	margin-top:10px;
}
.message-box span{
	border:1px solid rgba(0, 0, 0,.2);
	cursor: pointer;
	background-color:#4e6e81;
	float:right;
	margin-top:25px;
	padding:5px 15px;
	color:white;
}
#transfer-page{
	display:grid;
	grid-template-columns: auto;
	grid-gap: 10px;
}
.list-bar{
	width:95%;
	background-color: whitesmoke;
	padding:10px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}
.list-bar p{
	cursor: pointer;
}
.debit-table,.loan-table,.transfer-table,.credit-table{
	margin-top: 25px;
	width:100%;
	height: 400px;
	display: none;
}
.debit-table table,.loan-table table,.transfer-table table,.credit-table table{
	width:95%;
}
.credit-table{
	display: block;
}
.customers-table,.transactions-list{
	width:100%;
	overflow:scroll;
	background-color: white;
}
.customers-table table,.transactions-list table{
	width: 100%;
}
.customers-table::-webkit-scrollbar{
	width:5px;
}
.transactions-list::-webkit-scrollbar{
	width:3px;
}
.customers-table table th,.cutomers-table table td{
	padding:0px 2px;
}
.searchtransactions{
	padding:10px;
	background-color: white;
}
.searchtransactions form input{
	width:35%;
	height:30px;
	padding:8px;
	margin-left: 600px;
	border:1px solid rgba(0, 0, 0, .2);
	outline: none;
}
.searchtransactions form button{
	width:30px;
	height: 30px;
	cursor: pointer;
	border:1px solid rgba(0, 0, 0,.2);
	outline: none;
}
.update-page{
	width:100%;
	padding:15px;
	height:30px;
	background-color: white;
}
.update-page form input{
	width:40%;
	height:30px;
	margin-left: 550px;
	padding:10px;
	color:rgba(0,0,0,0.7);
	border:1px solid rgba(0, 0, 0,.2);
	outline: none;
}
.update-page form button{
	width: 30px;
	height: 30px;
	outline: none;
	border: 1px solid rgba(0, 0, 0,.2);
}
.account-details{
	width:100%;
	margin:10px;
	padding:15px;
	background-color: white;
}
.account-details .form-group{
	display: flex;
	flex-direction: column;
}
.account-details .form-group label{
	font-size: 20px;
}
.account-details .form-group input{
	border:1px solid rgba(0, 0, 0,.1);
	outline: none;
	font-size: 15px;
	width:40%;
	padding:5px;
	height: 28px;
	border-radius:10px;
}
.account-details .account-profile{
	float: right;
	position: absolute;
	margin-left: 650px;
	margin-top:-480px;
}
.account-details .account-profile img{
	width:150px;
	height: 150px;
	border-radius: 50%;
}
.account-details .account-profile p{
	margin-left: 30px;
	font-size: 23px;
}
.account-details button{
	margin:20px;
	width:200px;
	border: 1px solid rgba(0, 0, 0, .3);
	outline: none;
	padding:5px 8px;
	color: white;
	background-color: orange;
}
.account-details .customers-table input{
	border: 1px solid rgba(0, 0, 0,.1);
	outline: none;
	margin-left:50px;
}
.alert-box{
	width:400px;
	height:120px;
	box-shadow:inset 0px 0px 1px 1px rgba(0, 0,0, .2);
	background-color: white;
	z-index: 1000;
	font-size: 16px;
	position: fixed;
	padding:10px;
	border-radius: 5px;
	color: rgba(0, 0, 0,.6);
	margin-top: -70px;
	margin-left:100px;
}
.alert-box p{
	margin-bottom: 10px;
	font-size: 17px;
}
.alert-box button{
	float: right;
	margin-top:45px;
	background-color:green;
	border: 2px double rgba(0, 0, 0, .5);
	color: white;
	cursor: pointer;
	width: 50px;
	padding:7px 10px;
	outline: none;
	border-radius:15px;
	border: none;
	box-shadow: 0px 0px 1px 1px rgba(0, 0, 0,.1);
}